<%= stylesheet_link_tag('post')  %>
<p style="color: green"><%= notice %></p>
<div id="posts">
  <% @posts.each do |post| %>
    <% if post.user_id == current_user.id %>
      <%= render post %>
    <% end %>
  <% end %>
</div>

